@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #f0b30f;
}
.theme-text {
    color: var(--main-color);
}

.navbar-brand {
    color: var(--main-color) !important;
}
.act {
    color: var(--main-color) !important;
    border-bottom: 1px solid var(--main-color);
}
.navbar ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/brie-odom-mabey-ITzfgP77DTg-unsplash.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.wave{
    position: absolute;
    bottom: 0;
}

.middle {
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.middle h1 {
    font-size: 70px;
}